@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

body{
  background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-simple-paper-wind-christmas-carnival-red-background-material-picture-image_928106.jpg);
}

.container{
  width: 100%;
  align-items: center;
  display: flex;
}

a{
  text-decoration: none;
}

h3{
  font-family: 'Ubuntu',  sans-serif;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  border: black;
}

h4{
  font-family: 'Ubuntu',  sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 10px 50px;
  background:  #cc0000 ;
  box-shadow:  #cc0000 10px 10px 10px -10px;
  margin: 10px;
}

img{
  width: 60px;
  align-items: center;
  margin: 20px 120px;
}
  

.rifa{
  justify-content: center;
  flex-direction: column;
  border: #cc0000 1px solid;
  margin: 30px;
}
.rifa li{
  display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 4px;
   font-size: 24px;
   font-weight: bold;
   background-color:#0F8A5F;
   cursor: pointer;
   color: white;
   box-shadow: #000000 10px 15px 15px -15px;
}

.vendidas{
  background-color: red !important;
}

.modal-container{
  width: 60vh;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  width: 50%;
  overflow: hidden;
  background-size: cover;
}

span{
  color: white;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin: 3px auto;
}

p{
  width: 50px;
  color: white;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.modal label{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  width: 100%;
  color: white;
}

.modal input{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.btnsalvar{
  font-family: 'Ubuntu', sans-serif;
  padding: 6px 10px;
  background-color: #cc0000;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.btnsalvar:hover{
  box-shadow: #cc0000 10px 15px 15px -10px;
}

.btnvoltar{
  font-family: 'Ubuntu', sans-serif;
  padding: 6px 10px;
  background-color: #cc0000;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.btnvoltar:hover{
  box-shadow: #cc0000 10px 15px 15px -10px;
}


.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 100%;
  height: 100vh;
}

.card{
  margin: 10px;
  height: 80vh;
  width: 100vw;
  border-radius: 40px;
  position: relative;
  flex: 0.5;
  color: #fff;
  transition: .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card h2{
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  left: 10px;
  color: #fff;
  bottom: 10px;
  opacity: 0;
}

.card.active{
  flex: 5;
  transition: .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card.active h2{
  opacity: 1;
}


.active{
  display: flex;
}

.active .modal{
  animation: modal .4s linear;
}

@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to{
    opacity:1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 500px){
  .card:nth-child(4n),
  .card:nth-child(5n){
    display: none;
  }
}

@media(max-width: 500px){
  .modal{
    width: 50%;
  }
  .modal label {
    font-size: 17px !important;
  }
  .modal input{
    font-size: 17px !important;
  }
  .modal button{
    font-size: 17px !important;
  }
  span{
    font-size: 17px !important;
  }
  p{
    font-size: 15px !important;
  }
}

